<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        button {
            position: static;
            border: 1px black solid;
            border-radius: 3px;
            padding: 5px;
            background: white;
            }
        button:hover {
            background: silver;
        }
    </style>
</head>
<body>
    <button type='button' onclick="window.location.href = '/index'">Go back</button>
    <h>Not found!</h>
</body>
</html>