<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}" />
    <script language="JavaScript">
		function error() {
		    var form = document.getElementById('error');
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'error';
            input.value = JSON.stringify({error: 0});
            form.appendChild(input);
            return true;
		}
	</script>
</head>
<body>
    <form method="post" id="error" action="{{ url_for('.index') }}" onsubmit="return error()"></form>
    <h2><input type="submit" form="error" value="Go home"></h2>
    <p>
        <h1>Not found!</h1>
        Process finished with error: {{ error }}
    </p>
</body>
</html>